<div class="d-md-flex half">
    <div class="bg"></div>
    <div class="contents">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="form-block mx-auto">
                        <div class="text-center mb-5">
                            <h1>Iniciar sesión</h1>
                        </div>
                        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" formControlName="email">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="password" formControlName="password">
                            </div>

                            <div class="d-sm-flex mb-5 align-items-center">
                                <span class="ml-auto"><a href="#" class="forgot-pass">¿Olvidaste tu
                                        contraseña?</a></span>
                            </div>

                            <input type="submit" value="Ingresar" class="btn filled-button">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>